<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ninja1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,147}</string>
                <key>spriteSourceSize</key>
                <string>{210,147}</string>
                <key>textureRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,147}</string>
                <key>spriteSourceSize</key>
                <string>{210,147}</string>
                <key>textureRect</key>
                <string>{{210,0},{210,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,147}</string>
                <key>spriteSourceSize</key>
                <string>{210,147}</string>
                <key>textureRect</key>
                <string>{{420,0},{210,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,147}</string>
                <key>spriteSourceSize</key>
                <string>{210,147}</string>
                <key>textureRect</key>
                <string>{{630,0},{210,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,147}</string>
                <key>spriteSourceSize</key>
                <string>{210,147}</string>
                <key>textureRect</key>
                <string>{{840,0},{210,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,147}</string>
                <key>spriteSourceSize</key>
                <string>{210,147}</string>
                <key>textureRect</key>
                <string>{{1050,0},{210,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,147}</string>
                <key>spriteSourceSize</key>
                <string>{210,147}</string>
                <key>textureRect</key>
                <string>{{1260,0},{210,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ninja8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,147}</string>
                <key>spriteSourceSize</key>
                <string>{210,147}</string>
                <key>textureRect</key>
                <string>{{1470,0},{210,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ninja.png</string>
            <key>size</key>
            <string>{1680,147}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51d8e3ff8f105b10f4ca71bb4633ede1:875cd1ce71e7d7d997d97b1633449c85:92e1faaa53b83f9eb84763f961ee63db$</string>
            <key>textureFileName</key>
            <string>ninja.png</string>
        </dict>
    </dict>
</plist>
